In [25]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re

In [26]:
final_sharks = pd.read_csv("../data/final_sharks.csv")

In [27]:
pd.set_option('display.max_columns', None)

In [28]:
final_sharks.head()

,Unnamed: 0,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,original order,year_c,month_c,day_c,Act_class,date_c,day_of_week
0,0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0,2018.0,6.0,25.0,other,2018-06-25,Monday
1,1,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6302.0,2018.0,6.0,18.0,other,2018-06-18,Monday
2,2,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6301.0,2018.0,6.0,9.0,surfing,2018-06-09,Saturday
3,3,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6300.0,2018.0,6.0,8.0,surfing,2018-06-08,Friday
4,4,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6299.0,2018.0,6.0,4.0,diving,2018-06-04,Monday

In [29]:
final_sharks.columns

Index(['Unnamed: 0', 'Type', 'Country', 'Area', 'Location', 'Activity', 'Name',
       'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'original order', 'year_c', 'month_c', 'day_c', 'Act_class', 'date_c',
       'day_of_week'],
      dtype='object')

In [30]:
victim1=final_sharks[['Country','Name','Fatal (Y/N)']]

In [49]:
#get just the firs word of Name as the victim's name creating a new column just in case...
name_pattern = re.compile(r"(?:[A-Z][a-z]+\s+)?(?:(?:Mr\.|Mrs\.|A\.)\s+)?([A-Z][a-zA-Z]+)\s+")
victim1['name']=victim1['Name'].str.extract(name_pattern)

C:\Users\psaez\AppData\Local\Temp\ipykernel_13352\2581476747.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  victim1['name']=victim1['Name'].str.extract(name_pattern)

In [89]:
victim1.head()

     Country             Name Fatal (Y/N)     name
0        USA      Julie Wolfe           N    Julie
1        USA  Adyson McNeely            N  McNeely
2        USA      John Denges           N     John
3  AUSTRALIA             male           N      NaN
4     MEXICO   Gustavo Ramos            N    Ramos

In [90]:
victim1.shape

(5758, 4)

In [91]:
#let's count and remove NaN
victim1.isna().sum()

Country          43
Name            151
Fatal (Y/N)     414
name           1440
dtype: int64

In [92]:
victim2=victim1.dropna(how='any')

In [93]:
victim2.isna().sum()

Country        0
Name           0
Fatal (Y/N)    0
name           0
dtype: int64

In [94]:
victim2.shape

(4006, 4)

In [95]:
victim3=victim2.drop('Name', axis=1)

In [96]:
victim3['name'].value_counts

<bound method IndexOpsMixin.value_counts of 0           Julie
1         McNeely
2            John
4           Ramos
5           Chris
          ...
5738    Madelaine
5740       Indian
5741        James
5753         Arab
5756        Guard
Name: name, Length: 4006, dtype: object>

In [97]:
victim_name=(victim3['name'])

In [98]:
name_counts = victim_name.value_counts()

In [99]:
top_5_names = name_counts.head(5)

In [100]:
print(top_5_names)

name
John       112
William     73
Robert      72
James       64
David       52
Name: count, dtype: int64

In [101]:
type(top_5_names)

pandas.core.series.Series

In [102]:
#let's see the name-country relationship
condition1=victim3['name'] == 'John' 
condition2=victim3['name'] == 'William' 
condition3=victim3['name'] == 'Robert' 
condition4=victim3['name'] == 'James' 
condition5=victim3['name'] == 'David'

In [103]:
victim4 = victim3[(condition1)| (condition2)| (condition3)| (condition4)| (condition5)]

In [104]:
victim4['name'].value_counts()

name
John       112
William     73
Robert      72
James       64
David       52
Name: count, dtype: int64

In [105]:
John = victim3[(condition1)]
John=

SyntaxError: invalid syntax (3068516735.py, line 2)

In [85]:
John.value_counts()

Country    Name             Fatal (Y/N)  name
USA        John Bolling     N            John    2
ANGOLA     John Doyle       N            John    1
USA        John Foley       N            John    1
           John Ferrerira   N            John    1
           John Fasio, Jr   N            John    1
                                                ..
AUSTRALIA  John Williams    Y            John    1
           John Welsh       Y            John    1
           John Thompson    Y            John    1
           John Strand      N            John    1
VANUATU    John McKeig      Y            John    1
Name: count, Length: 111, dtype: int64